---
import { name, serie } from '../data';
import { seasons } from '../data/seasons';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import InfoLine from '../components/InfoLine.astro';
import IconChevronR from '../components/icons/IconChevronR.astro';
---

<Layout>
	<div slot="article" class="space-y-2 text-sm">
		<h2 class="font-medium text-pretty text-base-950"><i>The Big Bang Theory</i> es una comedia de situación estadounidense creada por <b>Chuck Lorre</b> y <b>Bill Prady</b>, quienes se desempeñaron como productores ejecutivos y escritores principales de la serie, junto con <b>Steven Molaro</b>.</h2>
		<h3 class="font-medium text-pretty text-base-950">La serie comienza con la llegada de <b>Penny</b>, aspirante a actriz, al apartamento vecino del que comparten <b>Sheldon</b> y <b>Leonard</b>, dos <i>físicos</i> que trabajan en el <b>Instituto Tecnológico de California</b> (Caltech). Leonard se enamora desde el primer momento de Penny.</h3>
		<br>
		<div class="space-y-1.5 text-base-900">
			<InfoLine title='Creadores'>
				<span>{serie.creator}</span>
			</InfoLine>
			<InfoLine title='Género'>
				<span>{serie.genre}</span>
			</InfoLine>
			<InfoLine title='Temporadas'>
				<span class="font-mono">{serie.seasons}</span>
			</InfoLine>
			<InfoLine title='Episodios'>
				<span class="font-mono">{serie.episodes}</span>
			</InfoLine>
			<InfoLine title='Web oficial'>
				<Button text='cbs.com' link={`https://${serie.site}`} target='_blank' />
			</InfoLine>
			<InfoLine title='Estreno'>
				<time datetime={serie.start}>{serie.start}</time>
			</InfoLine>
			<InfoLine title='Final'>
				<time datetime={serie.end}>{serie.end}</time>
			</InfoLine>
		</div>
	</div>

	<menu class="w-full columns-2 gap-4 space-y-2">
		{seasons.map(item => (
			<Button text={item.title} link={item.link} type='block' title={`${item.title}, ${item.start} - ${name}`}>
				<div slot='r' class="w-fit ml-auto flex items-center gap-2">
					<span class="hidden sm:flex md:hidden lg:flex font-mono text-xs opacity-0 transition duration-150 group-hover:opacity-100">{item.nEpisodes}</span>
					<IconChevronR size='13' />
				</div>
			</Button>
		))}
	</menu>
</Layout>