---
interface Props {
    text: string
    link: string
    size?: 'sm' | 'md'
    target?: '_self' | '_blank' | '_parent' | '_top'
    title?: string
}

const { text, link, size = 'md', target = '_self', title } = Astro.props as Props;

const sizeClass = {
    sm: 'text-base md:text-sm',
    md: 'text-xl md:text-lg'
}
---

<a href={link} target={target} aria-labelledby={title} class={`w-fit h-fit font-medium ${sizeClass[size]} text-base-300 group flex items-center gap-1.5 transition duration-200 hover:text-white`}>
    <slot name="l" />
    {text}
    <slot name="r" />
</a>