---
interface Props {
    text: string
    link: string
    size?: 'sm' | 'md'
    target?: '_self' | '_blank' | '_parent' | '_top'
    title?: string
    className?: string
    classText?: string
}

const { text, link, size = 'md', target = '_self', title, className, classText } = Astro.props as Props;
---

<a href={link} target={target} aria-labelledby={title} class:list={[
    'w-fit h-fit group flex items-center gap-1.5 transition duration-200 font-medium select-none',
    {
        'text-xs 2xl:text-sm text-base-300 hover:text-white tracking-tighter': size === 'sm',
        'md:text-sm text-base-900 hover:text-base-950': size === 'md'
    },
    className
]}>
    <slot name="l" />
    <span class={classText}>{text}</span>
    <slot name="r" />
</a>