---
import { name } from '../../data';
import { seasons } from '../../data/seasons';
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
import InfoLine from '../../components/InfoLine.astro';
import IconChevronR from '../../components/icons/IconChevronR.astro';

export async function getStaticPaths () {
    return seasons.map(season => ({
        params: { id: season.number },
        props: { season }
    }))
}

const { season } = Astro.props;
---

<Layout page={`${season.title} - ${name}`}>

	<div slot="article" class="space-y-2 text-sm">
		<p class="font-medium text-base-950">{season.description}</p>
		<br>
		<div class="space-y-1.5 text-base-900">
			<InfoLine title='Episodios'>
				<span class="font-mono">{season.nEpisodes}</span>
			</InfoLine>
			<InfoLine title='Inicio'>
				<time datetime={season.start}>{season.start}</time>
			</InfoLine>
			<InfoLine title='Final'>
				<time datetime={season.end}>{season.end}</time>
			</InfoLine>
		</div>
	</div>

	{season.episodes.length > 0 ? 
		<menu class="w-full space-y-2 lg:columns-2 lg:gap-x-4">
			{season.episodes.map (item => (
				<Button text={item.title} link={item.link} type='block' title={`${item.title}, ${season.title} - ${name}`}>
					<span slot="l" class="min-w-[3ch] font-mono text-end">{item.number}.</span>
					<div slot='r' class="w-fit ml-auto flex items-center gap-2">
						<span class="font-mono text-xs opacity-0 transition duration-150 group-hover:opacity-100">{item.release}</span>
						<IconChevronR size='13' />
					</div>
				</Button>
			))}
		</menu>
		: <h2 class="font-display text-3xl text-base-400">Muy pronto...</h2>
	}
</Layout>