---
import { name } from '../../data/data';
import { seasons } from '../../data/seasons';
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
import InfoLine from '../../components/InfoLine.astro';

export async function getStaticPaths () {
    return seasons.map(season => ({
        params: { id: season.number },
        props: { season }
    }))
}

const { season } = Astro.props;
---

<Layout page={`${season.title} - ${name}`}>
    <h1 slot="header" class="font-display font-bold text-pretty text-6xl lg:text-7xl 2xl:text-8xl select-none">Temporada <span class="text-transparent bg-clip-text bg-gradient-to-br from-red-950 via-red-700 to-red-500">{season.number}</span></h1>

	<div slot="article" class="space-y-2">
		<div class="space-y-1.5 text-xs text-base-400">
			<InfoLine title='Episodios' text={season.nEpisodes} />
			<InfoLine title='Inicio' text={season.start} />
			<InfoLine title='Fin' text={season.end} />
		</div>
	</div>

	<menu class="w-full overflow-auto">
		{season.episodes.length > 0 ? 
			<table class="w-full">
				<thead>
					<tr>
						<td class="text-center">N.</td>
						<td>Episodio</td>
						<td class="text-end">Estreno</td>
					</tr>
				</thead>
				<tbody>
					{season.episodes.map(item => (
						<tr>
							<td class="text-center text-sm text-base-400">{item.number}</td>
							<td><Button text={item.title} link={item.link} title={`${item.number}, ${season.title}`} className='w-full!' /></td>
							<td class="text-end text-sm text-base-400">{item.release}</td>
						</tr>
					))}
				</tbody>
			</table>
			: <h2 class="font-display text-3xl text-base-400">Muy pronto...</h2>
		}
	</menu>
</Layout>