---
import { site, creator, bmc, provider, wiki } from '../data';
import Button from '../components/Button.astro';
import IconAtom from '../components/icons/IconAtom.astro'
---

<header class="mb-24 sm:mb-20 relative flex items-center justify-between gap-3 lg:gap-5">
    <div class="flex flex-wrap items-center gap-2.5 md:gap-4 xl:gap-6">
        <Button text={wiki.title} link={wiki.link} type="sm" target='_blank' title={wiki.label} />
        <Button text={provider.title} link={provider.link} type="sm" target='_blank' title={provider.label} />
    </div>
    <a href={site.link} class="absolute left-1/2 -translate-x-1/2 text-white transition duration-200 hover:rotate-[360deg]">
        <IconAtom size="20" />
    </a>
    <div class="flex flex-wrap items-center justify-end gap-2.5 md:gap-4 xl:gap-6">
        <Button text={bmc.title} link={bmc.link} type="sm" target='_blank' title={bmc.label} />
        <Button text={creator.title} link={creator.link} type="sm" target='_blank' title={creator.label} className='hover:underline underline-offset-4 hover:decoration-[#00e17c]' />
    </div>
</header>