---
import { site, provider, wiki } from '../data';
import Button from '../components/Button.astro';
import IconAtom from '../components/icons/IconAtom.astro';
---

<header class="mb-16 relative flex items-center justify-between gap-5">
    <Button text={wiki.title} link={wiki.link} type="sm" target='_blank' title={wiki.label} />
    <a href={site.link} class="absolute left-1/2 -translate-x-1/2 text-white transition duration-200 hover:rotate-[360deg]">
        <IconAtom size="20" />
    </a>
    <Button text={provider.title} link={provider.link} type="sm" target='_blank' title={provider.label} />
</header>