---
import '../styles/global.css';
import { title, preview, description, site } from '../data/data';
import Analytics from '@vercel/analytics/astro';
import Header from './Header.astro';

interface Props {
	page?: string
}

const { page = title } = Astro.props as Props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{page}</title>
	<meta name="title" content={page} />
	<meta name="description" content={description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={site.link} />
	<meta property="og:title" content={page} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={preview} />
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={site.link} />
	<meta property="twitter:title" content={page} />
	<meta property="twitter:description" content={description} />
	<meta property="twitter:image" content={preview} />
</head>
<body class="w-full min-h-screen p-6 pb-16 sm:p-10 md:px-14 lg:px-16 lg:py-12 xl:px-20 2xl:px-36 gradient bg-no-repeat bg-center bg-cover text-white selection:text-base-950 selection:bg-base-200/80">	
	<Analytics />
	<Header />

	<header class="mb-16 md:mb-20">
		<slot name="header" />
	</header>

	<main class="grid md:grid-cols-2 gap-12 md:gap-16 xl:gap-20">
		<section class="space-y-4 md:sticky md:top-6 lg:top-12">
			<slot name="article" />
		</section>
		<slot />
	</main>
</body>
</html>